<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/plugins/images/grab.png">
    <title>Grab X Microsoft IOT application</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="../static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="../static/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="../static/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="../static/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../static/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
        rel="stylesheet">
    <!-- animation CSS -->
    <link href="../static/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="../static/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart', 'table', 'line', 'gauge'] });
        google.charts.setOnLoadCallback(googlecharts_is_ready);

        var chart, table;
        var graphdata;
        var tabledata;

        function googlecharts_is_ready() {

            function getNewData() {

                jQuery.ajax({
                    url: "/api/getdata",
                    type: 'POST',
                    success: function (ndata) {
                        chartdata = ndata
                        //chartdatalength = parseInt(ndata.chart_data_length)
                        graphdata = createDataTableForChart(chartdata)
                        tabledata = createDataTableForTable(chartdata)
                        drawLineChart(graphdata, "chart_div")
                        drawDataTable(tabledata, "table_div")
                        getDashboardDetails();

                    }//end success
                });//end ajax
            } //end getNewData

            function createDataTableForTable(newdata, newdatalength) {
                tabledata = new google.visualization.DataTable();
                tabledata.addColumn('string', 'Booking ID');
                tabledata.addColumn('string', 'Time');
                tabledata.addColumn('number', 'Speed Km/Hr');

                currentrow = 0

                for (i in newdata) {
                    speed = newdata[i].speedkmhour;
                    /*seconds = parseInt(newdata[i].seconds)
                    minutes = Math.floor(seconds / 60)
                    seconds_str = minutes + " minutes " + (seconds - (minutes * 60)) + " seconds"*/
                    datetime = newdata[i].datetime_value;
                    jsdatetime = new Date(Date.parse(datetime));
                    bookingid = newdata[i].bookingid
                    jstime = jsdatetime.toLocaleTimeString();
                    tabledata.addRows([[bookingid, jstime, speed]]);
                    currentrow++
                }

                tabledata.removeRows(0, currentrow - 20)

                return tabledata
            }

            function createDataTableForChart(newdata, newdatalength) {
                graphdata = new google.visualization.DataTable();
                graphdata.addColumn('string', 'Time');
                currentrow = 0;
                bookingarray = [];
                for (i in newdata) {
                    bookingid = newdata[i].bookingid;
                    speed = newdata[i].speedkmhour;
                    datetime = newdata[i].datetime_value;
                    jsdatetime = new Date(Date.parse(datetime));
                    jstime = jsdatetime.toLocaleTimeString();

                    if (bookingarray.includes(bookingid)) {
                        columnindex = bookingarray.indexOf(bookingid) + 1;
                        var rowarray = new Array(bookingarray.length + 1);

                        rowarray.fill(jstime, 0, 1);
                        rowarray.fill(speed, columnindex, columnindex + 1);
                        graphdata.addRows([rowarray]);
                    }
                    else {
                        graphdata.addColumn('number', bookingid);
                        bookingarray.push(bookingid);
                        var rowarray = new Array(bookingarray.length + 1);
                        rowarray.fill(jstime, 0, 1);
                        rowarray.fill(speed, bookingarray.length);
                        graphdata.addRows([rowarray]);
                    }
                    currentrow++
                }
                graphdata.removeRows(0, currentrow - 10)
                return graphdata
            }

            function drawDataTable(tabledata, divname) {
                table = new google.visualization.Table(document.getElementById(divname));
                table.draw(tabledata, { showRowNumber: true, width: '100%', height: '100%' });

            }//end drawTable

            function drawLineChart(graphdata, divname) {
                chart = new google.visualization.LineChart(document.getElementById(divname));
                var options = {
                    interpolateNulls: true,
                    pointSize: 5,
                    curveType: 'function',
                    legend: 'bottom',
                    vAxis: { baseline: 0, viewWindow: { min: 0, max: 120 } },
                    hAxis: { format: 'hh:mm:ss' }
                }
                chart.draw(graphdata, options);
                return
            } //end drawChart

            function getDashboardDetails() {
                jQuery.ajax({
                    url: "/api/getDashboardDetails",
                    success: function (data) {
                        console.log(data)
                        var dashboarddata = data[0];
                        numofvehicles = dashboarddata[0];
                        $('#numofvehicles').html(numofvehicles);
                        topspeed = dashboarddata[1];
                        topspeedbid = dashboarddata[2];
                        if (topspeed > 90) {
                            var divContent = $("#alertButton").html() === "";
                            if ((divContent == true) || ((divContent == false) && (topspeed > document.getElementById("alertButton").getAttribute("value")))) {
                                $("#alertButton").html('<button type="button" onclick = "sendAlert(this.value,this.dataset.value)" '
                                    + 'class="btn btn-danger" value='
                                    + topspeed + ' data-value="' + topspeedbid + '" > Alert Driver</button>')
                            }

                        }
                        var topspeedtable = new google.visualization.DataTable();
                        topspeedtable.addColumn('string', "Km/Hr");
                        topspeedtable.addColumn('number', 'Topspeed');
                        topspeedtable.addRows([["Km/Hr", topspeed]]);
                        var gauge1 = new google.visualization.Gauge(document.getElementById('topspeed_div'));
                        var options = {
                            width: 400, height: 120,
                            redFrom: 90, redTo: 120,
                            yellowFrom: 80, yellowTo: 90,
                            minorTicks: 5
                        };
                        gauge1.draw(topspeedtable, options);
                        $("#topspeed").html("Top Speed - BookingID " + topspeedbid);
                        var avgspeeddata = data[1];
                        averagespeedcontainer = document.getElementById("averagespeedcontainer");
                        averagespeedcontainer.innerHTML = '';
                        readingscontainer = document.getElementById("readingscontainer");

                        readingscontainer.innerHTML = '';
                        for (n in avgspeeddata) {
                            var avgspeedtable = new google.visualization.DataTable();
                            avgspeedtable.addColumn('string', "Km/Hr");
                            avgspeedtable.addColumn('number', 'AverageSpeed');
                            data = avgspeeddata[n];
                            bookingid = data[0];
                            avgspeed = data[1];
                            avgspeedtable.addRows([["Km/Hr", avgspeed]]);
                            numofreadings = data[2];

                            averagespeedcontainer.innerHTML += '<div class="col-lg-4 col-sm-6 col-xs-12"><div class="white-box analytics-info" style="width: auto;">'
                                + '<h3 class="box-title" style="text-align: center;">Average speed of ' + bookingid + '</h3>'
                                + '<div id="avgspeed' + n + '_div" style="text-align: -webkit-center;"></div></div>'
                                + '<button style="margin-bottom: 8%" type="button" value = "' + bookingid + '" onclick="captureDriverImage(this.value)"class="btn btn-success"'
                                + ' >Capture Driver of ' + bookingid + '</button></div>';
                            var gauge2 = new google.visualization.Gauge(document.getElementById('avgspeed' + n + '_div'));
                            gauge2.draw(avgspeedtable, options);

                            readingscontainer.innerHTML += '<ul class="list-inline two-part" style="color:#7ace4c"><li><i class="ti-arrow-up text-success">'
                                + '</i><a style="color: #7ace4c" href="/individualBooking/' + bookingid + '"><span>' + bookingid + '</span></a></li><li class="text-right">'
                                + '<i class="ti-arrow-up text-success"></i><span>' + numofreadings + '</span></li></ul>'
                        }


                        /*
                        
                        divContent = $("#button" + n).html() === "";
                        if ((divContent == true) || ((divContent == false) && ((bookingid === document.getElementById("button" + n).getAttribute("value")) == false))) {
                            $("#button" + n).html('<button type="button" value = "' + bookingid + '" onclick="captureDriverImage(this.value)"class="btn btn-success"'
                                + ' >Capture Driver of ' + bookingid + '</button>')
                        }*/
                    }

                })
            }

            function getDriverSpeedingDetails() {
                jQuery.ajax({
                    url: "/api/getDriverSpeedingDetails",
                    success: function (speedingdata) {
                        newdata = speedingdata;
                        drivercontainer = document.getElementById("driverdetails");
                        drivercontainer.innerHTML = '';
                        for (i in newdata) {
                            currentdriver = newdata[i];
                            bookingid = currentdriver[0];
                            imagepath = currentdriver[1];
                            datetime = currentdriver[2];
                            speed = currentdriver[3];

                            drivercontainer.innerHTML += '<div class="comment-body"><div class="user-img" style="width: 200px;"> <img style="border-radius: 5%" '
                                + 'src = "data:image/jpg;base64,' + imagepath
                                + '" alt="user" class="img-circle"></div><div class="mail-contnet"><h5>' + bookingid + '</h5><span class="time">'
                                + datetime + '</span><br /><span class="mail-desc">Driver drove at a speed of ' + speed
                                + ' Km/Hr</span><button type="button" onclick="sendAlert(this.value, this.dataset.value)" class="btn btn-danger btn-rounded btn-outline m-r-5"'
                                + ' value="' + speed + '" data-value="' + bookingid + '"><i src="ti-check text-success m-r-5" class="ti-check text-success m-r-5">'
                                + '</i>Alert Driver</button></div></div>';
                        }
                    }
                });
            }

            $(document).ready(function () {
                setInterval(function () {
                    getDashboardDetails();
                    getDriverSpeedingDetails();
                    getNewData();
                }, 3000);
            });

        }

        function sendAlert(speed, bid) {
            jQuery.ajax({
                url: "/api/sendAlert/" + bid + "/" + speed,
                type: 'POST',
                success: function (message) {
                    console.log(message);
                }
            });
        }

        function captureDriverImage(bid) {
            $.ajax({
                url: "/api/captureDriverImage/" + bid,
                type: 'POST',
                success: function (similarity) {
                    if (similarity > 1) {
                        similaritymsg = "Driver's face detected, with " + similarity + " % similarity match";
                        $('#alertmsg').html('<div class="alert alert-success alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">'
                            + '&times;</a><strong>Success! </strong>' + similaritymsg + '</div>');
                    }
                    else if (similarity == 0) {
                        similaritymsg = "Driver's face does not match the expected face in the database"
                        $('#alertmsg').html('<div class="alert alert-danger alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">'
                            + '&times;</a><strong>Alert! </strong>' + similaritymsg + '</div>');
                    }
                    else {
                        $('#alertmsg').html('<div class="alert alert-warning alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">'
                            + '&times;</a><strong>Warning! </strong> No Driver is currently detected in the car. Please try again later.</div>');
                    }
                    /*checkCapturedImage(bid);
                    $('#alertmsg').html('<div class="alert alert-success alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">'
                                + '&times;</a><strong>Success! </strong> Driver\'s image for booking '+bid+' captured successfully!</div>');*/
                }
            });
        }
        /*function checkCapturedImage(bid) {
            $.ajax({
                url: "/api/checkCapturedImageIndex/" + bid,
                type: 'POST',
                success: function (data) {
                    var datarows = data;
                    var similaritymsg = ""
                    image = datarows[0];
                    similarity = datarows[1];
                    console.log(similarity);
                    if (similarity > 1) {
                        similaritymsg = "Driver's face detected, with " + similarity + " % similarity match";
                        $('#alertmsg').html('<div class="alert alert-success alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">'
                            + '&times;</a><strong>Success! </strong>' + similaritymsg + '</div>');
                    }
                    else if (similarity == 0) {
                        similaritymsg = "Driver's face does not match the expected face in the database"
                        $('#alertmsg').html('<div class="alert alert-danger alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">'
                            + '&times;</a><strong>Alert! </strong>' + similaritymsg + '</div>');
                    }
                    else {
                        $('#alertmsg').html('<div class="alert alert-warning alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">'
                            + '&times;</a><strong>Warning! </strong> No Driver is currently detected in the car. Please try again later.</div>');
                    }
                    //return similaritymsg;
                }
            });
        }*/

    </script>

</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part" style="text-align: center;">
                    <!-- Logo icon image, you can use font-icon also -->
                    <a style="padding: 0;" href="/">
                        <!--This is light logo icon-->
                        <img src="../static/plugins/images/grab.png" alt="home" class="light-logo"
                            style="width: 130px;"/>
                    </a>
                </div>
                <!-- /Logo -->
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                            class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="/" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                                aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="summary-table" class="waves-effect"><i class="fa fa-table fa-fw"
                                aria-hidden="true"></i>Summary Table</a>
                    </li>
                    <li>
                        <a href="map" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>Map</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <button target="_blank"
                            class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Login</button>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div id="alertmsg"></div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                <!-- .row -->
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title" style="text-align: center;" id="topspeed"></h3>
                            <div id="topspeed_div" style="text-align: -webkit-center;"></div>
                            <div id="alertButton" style="text-align: -webkit-center; margin-top: 2%"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div>
                            <div class="white-box analytics-info">
                                <h3 class="box-title" style="text-align: center;">Number of Active Vehicles</h3>
                                <ul class="list-inline two-part">
                                    <li>
                                        <div class="fa fa-taxi" style="color: yellowgreen;"></div>
                                    </li>
                                    <li class="text-right"><i class="ti-arrow-up text-success"></i> <span
                                            id="numofvehicles" style="color:#7ace4c"></span></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info" id="totalnumreadings">
                            <h3 class="box-title" style="text-align: center;">Total Number of Readings</h3>
                            <div id="readingscontainer">
                            </div>
                        </div>
                    </div>


                </div>
                <!--/.row -->
                <div class="row" style="text-align: -webkit-center;" id="averagespeedcontainer"></div>
                <!--row -->
                <!-- /.row -->

                <div class="row">
                    <div class="white-box">
                        <h3 class="box-title">Speed of Vehicles</h3>
                        <div id="chart_div" style="width: 100%; height: 500px"></div>
                    </div>
                    <!-- card-body END-->
                </div>
                <!-- card END -->
                <!-- ============================================================== -->
                <!-- table -->
                <!-- ============================================================== -->

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="table-responsive">

                                <!-- card START -->
                                <div class="card shadow mb-4">
                                    <!-- card-header START -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h4 class="box-title">Speed Table</h4>
                                    </div>
                                    <!-- card-header END -->

                                    <!-- card-body START -->
                                    <div class="table-responsive">

                                        <div id="table_div" style="width: 100%; height: 300px"></div>
                                    </div>


                                    <!-- card-body END-->
                                </div>
                            </div>
                            <!-- card END -->
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- chat-listing & recent comments -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- .col -->
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Drivers that recently sped in a ride</h3>
                            <div class="comment-center p-t-10">
                                <div class="comment-body" id="driverdetails"></div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> Grab X Microsoft IOT application</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../static/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="../static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../static/js/waves.js"></script>
    <!--Counter js -->
    <script src="../static/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="../static/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="../static/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script
        src="../static/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="../static/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../static/js/custom.min.js"></script>
    <script src="../static/js/dashboard1.js"></script>
    <script src="../static/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
</body>

</html>